.wrapper {
    width: 45.625rem;
    margin: -1rem auto;
    padding: 0 1rem;
    /* align-items: flex-start; */
    /* height: 10vh; */
}

.form {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}


.form input {
    width: 100%;
    padding: 1rem;
    color: var(--gray-300);
    background: var(--gray-500);
    border-radius: 0.5rem;
    border: none;
}

.form button {
    padding: 1rem;
    border: none;
    cursor: pointer;
    color: var(--gray-100);
    background: var(--blue-dark);
    border-radius: 0.5rem;
    font-weight: 700;
    font-size: 0.875rem;

    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.form button:disabled{
    cursor: not-allowed;
}


.header {
    display: flex;
    justify-content: space-between;
    margin-top: 4rem;
    margin-bottom: 1.5rem;
}

.header span {
    border-radius: 999px;
    background: var(--gray-400);
    color: var(--gray-200);
    padding: 3px 9px;
    font-size: 0.75rem;
    font-weight: 700;
}

.createdWork {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-weight: 700;
    font-size: 0.875rem;
    color: var(--blue-light);
}


.doneWork {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-weight: 700;
    font-size: 0.875rem;
    color: var(--purple-light);
}


.cardContainer {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}


